<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/carousel.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/underscore.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/scripts.js"></script>
    <script src="js/carousel.js"></script>
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <title style="font-family:'Montserrat', Courier, monospace">Safaricom Staff App</title>

  </head>
  <body style="background-color: #2ECC40">

    <!--Navbar -->
<div class="container-fluid" style="background-color:rgb(62, 72, 77)" >
  <nav class="mb-1 navbar navbar-expand-lg navbar-light orange lighten-1"style="">
    <a class="navbar-brand" href="#">
      <img src="images/twaweza-logo.png" height="100" alt="Safaricom logo">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
        aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color: azure">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"style="color: azure">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"style="color: azure">News</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item avatar">
            <a class="nav-link p-0" href="#">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                alt="profile image" height="80">
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>
  <!--/.Navbar -->

<section class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Card group-->
      <div class="card-group">

        <!-- Card -->
        <div class="card card-personal mb-md-0 mb-4">
            <div class="shadow-lg p-4 mb-5 bg-white rounded">

              <!-- Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="images/npd_department.jpg" alt="Card image cap" width="250px" height="250">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image-->

              <!-- Card content -->
              <div class="card-body">

                <!-- Title-->
                <a>
                  <h4 class="card-title">Network Planning Department</h4>
                </a>
                <a class="card-meta">HOD: John Doe</a>
                <!-- Text -->
                <p class="card-text">Responsible for Network Planning, Design & Deployment</p>
                <hr>
                <a class="card-meta"><span><i class="fas fa-user"></i>83 Staff Members</span></a>
                <p class="card-meta float-right"></p>

              </div>
             </div>
              <!-- Card content -->


        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card card-personal mb-md-0 mb-4">
            <div class="shadow-lg p-4 mb-5 bg-white rounded">

              <!-- Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="images/hr_department.jpg" alt="Card image cap" width="250px" height="250">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image-->

              <!-- Card content -->
              <div class="card-body">

                <!-- Title-->
                <a>
                  <h4 class="card-title">Human Resource Department</h4>
                </a>
                <a class="card-meta">HOD: Jane Doe</a>
                <!-- Text -->
                <p class="card-text">Deals with Employee Welfare</p>
                <hr>
                <a class="card-meta"><span><i class="fas fa-user"></i>132 Staff Members</span></a>
                <p class="card-meta float-right"></p>

              </div>
              <!-- Card content -->
             </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card card-personal mb-md-0 mb-4">
            <div class="shadow-lg p-4 mb-5 bg-white rounded">
              <!-- Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="images/Customer-Care-kit.jpg" alt="Card image cap" width="250px" height="250">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image-->

              <!-- Card content -->
              <div class="card-body">

                <!-- Title-->
                <a>
                  <h4 class="card-title">Customer Care Department</h4>
                </a>
                <a class="card-meta">HOD: Anne Maxwell</a>
                <!-- Text -->
                <p class="card-text">Deals with Customer Queries</p>
                <hr>
                <a class="card-meta"><span><i class="fas fa-user"></i>750 Staff Members</span></a>
                <p class="card-meta float-right"></p>

              </div>
              <!-- Card content -->
            </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Card group-->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Group of personal cards -->

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4" style="color: aliceblue">Safaricom
      <small>Daily Bulletin</small>
    </h1>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/nairobitech.png" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">News One</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/mpesa.jpeg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">News Two</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/ibuka.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">News Three</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/sea_data.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">News Four</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/sea_data.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">News Four</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/sea_data.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">News Four</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  </body>
</html>