<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/carousel.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/underscore.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/scripts.js"></script>
    <script src="js/carousel.js"></script>
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <title style="font-family:'Montserrat', Courier, monospace">Safaricom Staff App</title>

  </head>
  <body style="background-color: #2ECC40">

    <!--Navbar -->
<div class="container-fluid" style="background-color:rgb(62, 72, 77)" >
  <nav class="mb-1 navbar navbar-expand-lg navbar-light orange lighten-1"style="">
    <a class="navbar-brand" href="#">
      <img src="images/twaweza-logo.png" height="100" alt="Safaricom logo">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
        aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color: azure">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"style="color: azure">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"style="color: azure">News</a>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item avatar">
            <a class="nav-link p-0" href="#">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                alt="profile image" height="50">
            </a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: azure">EDIT</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Departments</a>
              <a class="dropdown-item" href="#">News</a>
              <a class="dropdown-item" href="#">Staff</a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
</div>
  <!--/.Navbar -->
</body>
</html>